<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobilecomputing.one_sec">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".LockApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:manageSpaceActivity=".activities.MainActivity"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FingerprintAuthentication" />

        <receiver
            android:name=".receiver.LockRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AppLockerActivity"
            android:label="Credit Card Activity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreditCardActivity"
            android:label="Credit Card Activity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Edit"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:label="Edit Activity"
                android:value=".activities.CreditCardActivity" />
        </activity>
        <activity
            android:name=".activities.Detail"
            android:label="Detail"
            android:parentActivityName=".activities.CreditCardActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CreditCardActivity" />
        </activity>
        <activity
            android:name=".activities.AddCard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CreditCardActivity" />
        </activity>
        <activity
            android:name=".activities.LoginCredentialsActivity"
            android:label="Credit Card Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NotesActivity"
            android:label="Credit Card Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PhotoVaultActivity"
            android:label="Credit Card Activity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ViewCredentials"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.Credentials" />
        <activity android:name=".activities.AddCredential" />
        <activity
            android:name=".activities.LoginCredentialDetail"
            android:parentActivityName=".activities.ViewCredentials"
            android:theme="@style/AppTheme.Credentials" />
        <activity android:name=".activities.popup" />
        <activity android:name=".activities.QRScanner" />
        <activity android:name=".activities.TestActivity" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".activities.CreatePwdActivity"
            android:label="Create Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GestureSelfUnlockActivity"
            android:label="Unlock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GestureUnlockActivity"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/unlock_activity_style" />
        <activity
            android:name=".activities.LockSettingActivity"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GestureCreateActivity"
            android:label="Create a pattern lock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity_AppLock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AlbumDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AboutAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="info.androidhive.sqlite.view.NotesActivity"
            android:parentActivityName=".activities.MainActivity" />

        <service android:name=".services.LoadAppListService" />
        <service android:name=".services.LockService" />

        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>